
// Variables for font family

$primary_font_family 			: 'Muli', sans-serif;
$secondary_font_family 			: 'Open Sans', sans-serif; 


// Variables line-height 

$body_line_height				: 1.6;	
$body_heading_line_height		: 1.2;  // Refers to h1,h2,h3,h4,h5,h6 


// Variables for font weight

$body_font_weight				: normal;
$body_heading_font_weight		: 600;


// Variables for font sizes

$body_font_size					: 16px; 


// letter spacing 

$body_letter_spacing 			:0;
$heading_letter_spacing			:0;



// Size variations for headings 

$typo_extra_large				: 34px;
$typo_large						: 28px;
$typo_medium					: 22px;
$typo_small						: 18px;
$typo_extrasmall				: 16px;







