
// Define Few constant colors

$facebook:#4267B2;

$twitter:#1DA1F2;

$instagram:#C53181;

$googleplus:#DC4C40;

$vk:#224B7A;

$pinterest:#BD081C;

$reddit:#FF4500;

$youtube:#FF0000;

$snapchat:#FFD600;

$linkedin:#0274B3;

$vimeo:#1AB7EA;

$quora:#B92B27;

$medium:#00AB6C;

$black:#000000;

$white:#ffffff;